.mapWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: green;
  overflow: hidden;
  flex: 1;
}

#map {
  height: 100vh;
  width: 100vw;
}