.routeBuilderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  align-items: flex-start;
}

.routeBuilderSideBar {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  z-index: 1000;
  background-color: transparent;
}

.closedSideBar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000;
  margin: 0;
}

.closedSideBar div {
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 0;
}

@media screen and (min-width: 500px) {
  .routeBuilderWrapper {
    flex-direction: row;
  }
  .routeBuilderSideBar {
    width: 40em;
  }
}
