.routeListWrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  background-color: rgb(26, 52, 52);
  justify-content: center;
}

.routeListHeader {
  border-bottom: 2px solid slategrey;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
}

.instructionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.instructionsHeader span {
  font-size: 40px;
  cursor: pointer;
  margin-top: 5px
}

.routeBuilderInstructions {
  color: white;
  margin: 0 1em;
  width: 90%;
  height: 45em;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 16px;
  border-bottom: 2px solid slategray;
}

.closedRouteBuilderInstructions {
  color: white;
  margin: 0 1em;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 16px;
  height: 1em;
  width: 90%;
  min-height: 4em;
  overflow: hidden;
  border-bottom: 2px solid slategray;
}

.instructionsList {
  padding-left: 10px;
}

.instructionsList > li {
  list-style-image: url('../images/check.png');
  list-style-type: none;
  line-height: 1.5em;
  margin: 10px;
  list-style-position: inside;
}

.instructionsList > li:before {
  content: "";
  margin-top: 100px
}

.routeTitleInput {
  margin: 15px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  width: auto;
  text-align: center;
}

.routeTotalsWrapper {
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-weight: 400;
}

.routeList {
  text-align: center;
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: 10em;

}

.routeTotalsWrapper p {
  margin: 0px;
}

.waypointContent {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.waypointItem {
  width: 100vw;
  display: inline-flex;
  font-size: 25px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin: 5px 0 5px 0;
  touch-action: none;
  user-select: none;
}

.waypointItem:hover {
  background-color: rgba(0, 255, 47, 0.3);
}

.waypointNameInput {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  width: 200px;
}

.waypointItem svg {
  color: lightslategrey;
  cursor: pointer;
}

.downloadWrapper {
  margin: 0 0 1.5em 0;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.routeSavedMsg {
  color: white;
  width: 275px;
  height: 50px;
  z-index: 100;
  position: absolute;
  background-color: orange;
  bottom: 130px;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
}

.gpxDownloadBtn {
  background-color: lime;
  color: white;
  margin: 5px;
}
.gpxDownloadBtn:hover {
  background-color: lightgreen;
}

.saveRouteBtn {
  background-color: lightskyblue;
  color: white;
  margin: 5px;
}

.saveRouteBtn:hover {
  background-color: lightblue;
}

.deleteAllMsgWrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.deleteAllMsg {
  width: 25em;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 2em;
}

.deleteAllMsg p {
  font-weight: 600;
  font-size: 25px;
  color: black;
}

.deleteAllBtnConfirm {
  background-color: lime;
  margin-bottom: .5em
}

.deleteAllBtnConfirm:hover {
  background-color: blue;
  color: white;
}

.deleteAllBtnCancel {
  background-color: transparent;
}

.deleteAllBtnCancel:hover {
  background-color: lightblue;
}
@media screen and (min-width: 500px) {
  .routeListWrapper {
    justify-content: flex-start;
    height: 100%;
  }

  .routeList {
    height: 100%;
    max-height: 29em;
  }
  .downloadWrapper{
    flex-direction: row;
  }
  .routeBuilderInstructions {
    height: auto;
  }
  .closedRouteBuilderInstructions {
    min-height: 70px;
  }
  .waypointItem {
    width: 100%;
    justify-content: space-between;
  }
  .waypointNameInput {
    width: 100%;
  }

}