.routeListWrapper {
  display: flex;
  width: 100%;
  height: 100vh; /* height fallback */
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  background-color: rgb(26, 52, 52);
  justify-content: space-between;
}

.routeListMainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: auto;
}

.routeListHeader {
  border-bottom: 2px solid slategrey;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
}

.instructionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructionsHeader span {
  font-size: 40px;
  cursor: pointer;
  margin-top: 5px;
}

.routeBuilderInstructions {
  color: white;
  margin: 0 1em;
  width: 90%;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 16px;
  border-bottom: 2px solid slategray;
  font-size: 1em;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.routeBuilderInstructionsOpen {
  height: 400em;
}

.routeBuilderInstructionsClosed {
  height: 5em;
  min-height: 5em;
}

.routeBuilderInstructions > p {
  margin: 0 0 0.5em 0;
}

.instructionsList {
  padding-left: 10px;
}

.instructionsList > li {
  list-style-image: url('../images/check.png');
  list-style-type: none;
  line-height: 1.5em;
  margin: 10px;
  list-style-position: inside;
}

.instructionsList > li:before {
  content: "";
  margin-top: 100px
}

.routeTitleInput {
  margin: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 25px;
  width: auto;
  text-align: center;
}

.routeDataWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 1em 0 1em;
}

.routeTotalsWrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
}

.routeTotalsWrapper > p {
  margin: 0;
}

.routeDeleteAllBtn {
  width: '100%';
  text-align: 'right';
  margin-right: '3em';
}

.routeList {
  text-align: center;
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  max-height: 25em;
}

.waypointContent {
  height: 1.6em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.waypointItem {
  width: 100%;
  display: inline-flex;
  font-size: 25px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin: 0;
}

.waypointItem:hover {
  background-color: rgba(0, 255, 47, 0.3);
}

.waypointNameInput {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  width: 200px;
}

.waypointItem svg {
  color: lightslategrey;
  cursor: pointer;
}

.downloadWrapper {
  margin: 0 0 12em 0;
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gpxDownloadBtn {
  background-color: lime;
  color: white;
  margin: 5px;
  font-size: 1.1em !important;
}

.gpxDownloadBtn:hover {
  background-color: lightgreen;
}

.saveRouteBtn {
  background-color: lightskyblue;
  color: white;
  margin: 5px;
  font-size: 1.1em !important;
}

.saveRouteBtn:hover {
  background-color: lightblue;
}

.deleteAllMsgWrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.deleteAllMsg {
  width: 90%;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 1em;
}

.deleteAllMsg p {
  font-weight: 600;
  font-size: 25px;
  color: black;
}

.deleteAllBtnConfirm {
  background-color: blue;
  margin-bottom: .5em;
  color: white
}

.deleteAllBtnConfirm:hover {
  background-color: lime;
}

.deleteAllBtnCancel {
  background-color: transparent;
}

.deleteAllBtnCancel:hover {
  color: lime;
}
@media screen and (min-width: 500px) {
  .routeListWrapper {
    justify-content: space-between;
  }

  .routeListMainContent {
    height: auto;
  }

  .routeBuilderInstructionsOpen {
    height: 30em;
    max-height: 30em;
  }

  .routeBuilderInstructionsClosed {
    height: 4em;
    min-height: 4em;
  }

  .routeList {
    height: calc(var(--vh, 1vh) * 70);
  }

  .moveCardItems {
    display: flex;
  }
  .routeDataWrapper {
    padding: 0 2em 0 2em;
  }

  .waypointItem {
    width: 100%;
    justify-content: space-between;
  }
  .waypointNameInput {
    width: 100%;
  }

  .downloadWrapper {
    margin: 0 0 5em 0;
  }
}