.routeBuilderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.routeBuilderSideBar {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

@media screen and (min-width: 500px) {
  .routeBuilderWrapper {
    flex-direction: row;
  }
}