.toolBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

.untBtnWrapper {
  display: inline-flex;
}
.unitBtn {
  width: 70px;
  font-size: 20px;
  margin: 10px 10px 0 10px;
  background-color: transparent;
  border-radius: 0;
}

.selectedUnitBtn {
  border-bottom: 3px solid blue;
}
.unitBtn:hover {
  border-bottom: 3px solid aquamarine;
}